/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Roboto:wght@100&display=swap');



body {
	font-size: 15px;
	color: #333;
	line-height: 1.6;

/*Container */
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}



/* Header */

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-top: 20px;
	background-color: black;
	position: fixed;
}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo {
	font-size: 50px;
	font-weight: 700px;
	color: #fff;
}

 
 /* Nav */

.header_nav {
	text-transform: uppercase;
	font-size: 20px;
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear;
	position: relative;
}
.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: red;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	display: none;
}
.nav_link:hover {
	color: red;
}
.nav_link:hover:after {
	display: block;
}	


/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url('keyb1.jpg') center no-repeat;
	background-size: cover;
}
.intro_inner {
	width: 100%;
   max-width: 880px;
   margin: 0 auto;
}
.intro_title {
	font-size: 20px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding-left: 500px ;
}

.intro_suptitle {
	font-size: 55px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	padding-left: 500px;
	padding-top: 400px;
}
.intro_btn {
	display: inline-block;
	vertical-align: top;
	border: 2px  solid #fff;
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700px;
	margin-left: 500px;
	margin-top: 30px;
}
.intro_btn:hover {
	background-color: #fff;
	color: #333;
}


 /* MAIN */


.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url('key4.jpg') center no-repeat;
	background-size: cover;
}
.main_inner {
	width: 100%;
   max-width: 880px;
   margin: 0 auto;
}
.main_suptitle {
	font-size: 55px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	padding-left: 500px;
	padding-top: 400px;
}
.main_title {	
	font-size: 18px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding-left: 500px ;
}
.main_btn {
	display: inline-block;
	vertical-align: top;
	border: 2px  solid #fff;
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700px;
	margin-left: 500px;
	margin-top: 30px;
}
.main_btn:hover {
	background-color: #fff;
	color: #333;
}


/* SECOND_MAIN */


.second_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url('key5.webp') center no-repeat;
	background-size: cover;
}
}
.second_main_inner {
   width: 100%;
   max-width: 880px;
   margin: 0 auto;
}
.second_main_suptitle {
	font-size: 55px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	padding-left: 500px;
	padding-top: 400px;
	margin-left: 180px;
}
.second_main_title {
	font-size: 15px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding-left: 500px ;
	margin-left: 180px;
}
.second_main_btn {
	display: inline-block;
	vertical-align: top;
	border: 2px  solid #fff;
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700px;
	margin-left: 680px;
	margin-top: 30px;
}
.second_main_btn:hover {
	background-color: #fff;
	color: #333;
}
